button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: block;
	padding: modular_scale(0);
	max-width: em(150);
	background: $color__background-button;
	color: $color__text-button;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	cursor: pointer;

	#{$link-hover-selector} {
		background: $color__brand-01-variant-dark;
		color: $color__background-button;
		font-weight: bold;
	}
}
