body.home {
    header {
        .main-navigation {
            li.menu-item-102 {
                display: none;
            }
        }        
    }

    main {
        .splash-page {
            position: relative;

            .text {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;

                .section-heading {
                    margin: 0;
                    font-size: modular_scale(2);
                    line-height: 1;

                    @include mq($tablet) {
                        font-size: modular_scale(3);
                    }

                    @include mq($desktop) {
                        font-size: modular_scale(4);
                    }
                    
                }

                .section-subheading {
                    margin: 0;
                    font-size: modular_scale(1);

                    @include mq($tablet) {
                        font-size: modular_scale(2);
                    }

                    @include mq($desktop) {
                        font-size: modular_scale(3);
                    }
                }                
            }

            .scroll-down {
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                padding-bottom: modular_scale(2);
                font-size: modular_scale(2);
                color: $color__text-med-light;
            }

        }

        .featured-projects {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }

}