body.home {

    main {
        .splash-page {
            .content {
                display: block;
                position: relative;
                width: 100%;
                min-height: 100vh;
            }

            .text {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                max-width: em(1200);

                .section-heading {
                    margin: 0;
                    font-size: modular_scale(2);
                    line-height: 1;

                    @include mq($tablet) {
                        font-size: modular_scale(3);
                    }

                    @include mq($desktop) {
                        font-size: modular_scale(4);
                    }
                    
                }

                .section-subheading {
                    margin: 0;
                    font-size: modular_scale(1);

                    @include mq($tablet) {
                        font-size: modular_scale(2);
                    }

                    @include mq($desktop) {
                        font-size: modular_scale(3);
                    }
                }                
            }

            .scroll-down {
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
                font-size: modular_scale(2);
                color: $color__text-med-light;
            }

        }

        .featured-projects {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }

}