.single-projects {
    .overview {
        display: block;
        position: relative;
        color: $color__text-med-light;

        .full-width.background {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 200vw;
            transform: translateX(-50%);
            background-color: $color__brand-03;
            z-index: -99;
        }

        .content {
            padding: modular_scale(5) 0;
        }
    }

    .tabs {
        display: flex;
        margin-top: modular_scale(1);
    }

    .main-content {
        h2 {
            margin-top: 0;
        }

        .sub-section {
            padding: modular_scale(1);
            background-color: #fff;

            @include mq($tablet) {
                padding: modular_scale(2);
            }

            @include mq($desktop) {
                padding: modular_scale(3);
            }
        }
    }
}