html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	padding: modular_scale(1) modular_scale(1);
	background: $color__background-body;

	@include mq($tablet) {
		padding: modular_scale(1) modular_scale(2);
	}

	@include mq($desktop) {
		padding: modular_scale(1) modular_scale(3);
	}
}

header {
	position: sticky;
	top: 0;
}

.main-section {
	min-height: 100vh;
	
	h2.section-title {
		font-size: modular_scale(3);
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
