$color__brand-01: #F4B743;
$color__brand-02: #755720;
$color__brand-03: #242021;
$color__brand-04: #E6E6E6;

$color__brand-01-variant-dark: #C29034;
$color__brand-02-variant-dark: #36280E;
$color__brand-03-variant-dark: #0F0E0E;
$color__brand-04-variant-dark: #CCCCCC;

$color__brand-01-variant-light: #F7D18D;
$color__brand-02-variant-light: #C2A56E;
$color__brand-03-variant-light: #332D2F;
$color__brand-04-variant-light: #F2F2F2;

$color__background-body: #{$color__brand-04};
$color__background-screen: #f1f1f1;
$color__background-hr: #{$color__brand-04-variant-dark};
$color__background-button: #{$color__brand-03};
$color__background-pre: #{$color__brand-04-variant-darker};
$color__background-ins: #fff9c0;

$color__text-dark: #{$color__brand-03};
$color__text-med-light: #{$color__brand-01-variant-dark};
$color__text-med-dark: #{$color__brand-02};
$color__text-light: #{$color__brand-04};

$color__text-heading: #{$color__text-med-light};
$color__text-heading-active: #{$color__text-dark};
$color__text-main: #{$color__brand-03-variant-dark};
$color__text-screen: #21759b;

$color__text-button: #{$color__brand-01};
$color__text-input: #{$color__text-dark};
$color__text-input-focus: #{$color__text-med-light};

$color__link: #{$color__text-med-light};
$color__link-visited:#{$color__text-med-light};
$color__link-hover: #{$color__text-dark};

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
