.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	a {
		display: block;
		font-size: modular_scale(1);
		text-decoration: none;
	}

	.custom-logo {
		padding-top: modular_scale(-2);
		max-width: em(25);
	}

	.nav {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		.nav-item {
			margin-left: modular_scale(1);
		}
	}

	.icon-link .icon {
		font-size: modular_scale(1);
	}

}
